<template name="accueil">
  <h1>Really Free Chat</h1>
	<h2>Un chat vraiment libre ?</h2>
	<p>
		Really free chat est une application WEB qui permet d'échanger facilement de façon sécurisée.<br />
		Aucun compte utilisateur n'est nécessaire sur l'application. En effet, les salons de discussion sont accessibles à partir de l'URL du salon. Cette URL contient un identifiant unique non prédictible qui permet de consulter les messages du salon et de prendre part à la discussion.<br />
	  Vous trouverez ci-dessous les différentes fonctionnalités de l'application.
  </p>
  <h2>Création d'un salon</h2>
		A partir de la page d'accueil, vous pouvez créer un nouveau salon. Vous êtes alors redirigé automatiquement sur le salon. L'URL de ce salon est celle que vous devez donner à vos contacts (par SMS, mail, etc.) pour entamer la discussion.<br />
		Si vous avez entré un mot de passe, les messages écrits dans le salon seront chiffrés.
	<h2>Accéder à un salon</h2>
	  Pour accéder à une discussion, vous devez disposer de son URL. Si le salon de discussion est chiffré, il est nécessaire d'entrer le mot de passe après affichage de la page.
	<h2>Supprimer / vider un salon</h2>
		En accédant à un salon il est possible de supprimer ce salon en cliquant sur le bouton <em>Supprimer définitivement ce salon</em>. Cette action rend le salon totalement inaccessible.<br />
		En cliquant sur <em>Vider le salon</em>, tous les messages seront supprimés, mais le salon continuera d'être accessible.
	<h2>Dernier conseil</h2>
	  Il est important de ne transmettre l'URL (et le mot de passe) qu'aux personnes avec lesquelles vous souhaitez discuter.
</template>